$arc-card-gap: 12px;
$arc-card-corner-radius: 12px;
$arc-action-bar-height: 32px;
$arc-transition-time: 150ms;
$arc-card-shadow: 0px 0.5px 1.75px rgba(0, 0, 0, 0.039), 0px 1.85px 6.25px rgba(0, 0, 0, 0.19);
$arc-sidebar-gap: 4px;
$arc-content-max-width: 85ch;
$arc-content-padding-desktop: 48px;
$arc-content-padding-mobile: 2rem;
$arc-body-font-size: 16px;

@mixin devices ($breakpoint) { //the name of the mixin is devices
  @if $breakpoint == mobile {
    @media only screen and (max-width: 640px) {
      @content;
    }
  }
}

@mixin row {
  display: flex;
}

@mixin column {
  display: flex;
  flex-direction: column;
}
@mixin fill($fixed-width: -webkit-fill-available, $fixed-height: -webkit-fill-available) {
  width: $fixed-width;
  max-width: $fixed-width;
  height: $fixed-height;
  max-height: $fixed-height;
}

@mixin parent(
  $direction: row,
  $top: 0, 
  $left: $top, 
  $bottom: $top, 
  $right: $left, 
  $gap: 0, 
) {
  margin: 0;
  padding-top: $top;
  padding-left: $left;
  padding-bottom: $bottom;
  padding-right: $right;
  display: flex;
  flex-direction: $direction;
  gap: $gap;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

@mixin fix-child-shadows($offset: 16px) {
  margin: -$offset;
  padding: $offset;
}

/* You can toggle these variables between "block" (Visible) and "none" (Hidden) to show or hide different elements of the UI */
:root {
  --display-recent-pages: block;
  --display-favorite-pages: block;
  --display-search-button: flex;
  --display-arrow-navigation: block;
  --display-help-button: none;
  --display-pdf-arrows: none;
  --display-todo-status: none;
  --ct-highlight-color: #f4d909;
  --ct-highlight-color-text: black;
  --ls-font-family: "Inter", sans-serif;
  --ls-page-text-size: 16px;
  --ls-headbar-height: $arc-action-bar-height;
  --ls-main-content-max-width: 100%;
  --ls-left-sidebar-width: calc(256px - 24px);
  --ls-tag-text-opacity: 1;
}

.white-theme, html[data-theme=light] {
  --arc-background-shell: #F2F2F2;
  --arc-background-card: #FFFFFF;
  --arc-background-overlay: rgba(0, 0, 0, 0.05);
  --arc-background-glass: rgba(255, 255, 255, 0.85);
  --arc-content-primary: rgba(0, 0, 0, 0.80);
  --arc-content-secondary: rgba(0, 0, 0, 0.5);
  --arc-content-tertiary: rgba(0, 0, 0, 0.25);
  --arc-content-divider: rgba(0, 0, 0, 0.12);
  --arc-accent-primary: hsla(206, 75%, 50%, 0.98); //9
}

.dark-theme, html[data-theme=dark] {
  --arc-background-shell: #191919;
  --arc-background-card: #272727;
  --arc-background-overlay: rgba(255, 255, 255, 0.07);
  --arc-background-glass: rgba(35, 35, 35, 0.85);
  --arc-content-primary: rgba(255, 255, 255, 0.83);
  --arc-content-secondary: rgba(255, 255, 255, 0.5);
  --arc-content-tertiary: rgba(255, 255, 255, 0.25);
  --arc-content-divider: rgba(255, 255, 255, 0.12);
  --arc-accent-primary: hsla(206, 75%, 50%, 1);
}

html[data-theme=dark], html[data-theme=light], #root > div, .theme-inner {
  --ls-primary-background-color: var(--arc-background-card);
  --ls-secondary-background-color: var(--arc-background-shell);
  --ls-tertiary-background-color: var(--arc-background-overlay);
  --ls-quaternary-background-color: var(--arc-background-overlay);
  --ls-primary-text-color: var(--arc-content-primary);
  --ls-secondary-text-color: var(--arc-content-secondary);
  --ls-tertiary-text-color: var(--arc-content-tertiary);
  --ls-border-color: var(--arc-content-divider);
  --ls-secondary-border-color: var(--arc-content-divider);
  --ls-tertiary-border-color: var(--arc-content-divider);
  --ls-link-text-color: var(--arc-accent-primary);
  --ls-tag-text-color: var(--arc-accent-primary);
  --ls-link-ref-text-color: var(--arc-accent-primary);
  --ls-block-bullet-border-color: var(--arc-content-divider);
  --ls-guideline-color: var(--arc-background-overlay);
  --ls-active-primary-color: var(--arc-accent-primary);
  --ls-table-tr-even-background-color: var(--arc-background-shell);
  --ls-block-highlight-color: var(--arc-background-overlay);
  --ls-menu-hover-color: var(--arc-background-overlay);

  --ls-page-checkbox-color: transparent;
  --ls-page-checkbox-checked-color: var(--ls-link-text-color);
  --ls-page-checkbox-border-color: var(--ls-tertiary-text-color);
  --ls-page-properties-background-color: var(--ls-tertiary-background-color);
  --ls-block-properties-background-color: var(--ls-tertiary-background-color);
  --ls-block-ref-link-text-color: var(--ls-border-color);
  --ls-icon-color: var(--ls-secondary-text-color);
  --ls-block-bullet-color: var(--ls-tertiary-text-color);
  --ls-title-text-color: var(--ls-primary-text-color);
  --ls-page-blockquote-border-color: var(--arc-accent-primary);
}

@media (min-width: 1600px) {
  :root {
	/* --ls-main-content-max-width: 1000px; */
	--ls-main-content-max-width: 100%;
  }
}

/* ----------------------- SHELL ----------------------- */
#app-container {
  /* background: conic-gradient(from 180deg at 50% 50%, rgba(195, 232, 248, 0.5) 0deg, rgba(213, 239, 219, 0.5) 195deg, rgb(195, 232, 248, 0.5) 360deg), #FFFFFF; */
  //background: rgba(0, 0, 0, 0.05);
  background: transparent;
  @include parent(row, $arc-card-gap, $gap: $arc-card-gap);
  height: 100vh;

  #left-container {
    @include parent(column, $gap: $arc-card-gap);
    @include fill;
    &.overflow-hidden { overflow: inherit; }

    #head {
      @include row;
      
      .l, .r {
        @include parent(row);
      }
    }

    #main-container {
      @include row;
      @include parent(row, $gap: $arc-card-gap);
      @include fix-child-shadows;
      transition: transform $arc-transition-time;
      background-color: transparent;

      #main-content-container {
        @include fill;
        @include parent;
        background-color: var(--ls-primary-background-color);
        border-radius: $arc-card-corner-radius;
        box-shadow: $arc-card-shadow;
      
        .cp__sidebar-main-content > .mx-auto {
          @include fill;
          @include parent(column);
          align-items: center;
          & > div {
            width: -webkit-fill-available;
          }
        }
      }
    }
  }
}

#head > .flex {
    /* opacity: 0%; */
    /* transition: opacity 150ms ease-in-out; */
}

cp_header > .r {
  padding-right: 0px;
}

#head:hover > .flex {
    /* opacity: 100%; */
}

#head {
    /* height: $arc-card-gap; */
    /* transition: height 150ms ease-in-out; */
}

#head:hover {
    /* height: calc(var(--ls-headbar-height) + var(--ls-headbar-inner-top-padding)); */
}

/* You can also add other styles below to override the default theme values */

.tippy-tooltip > .tippy-tooltip-content {
  border: 1px solid var(--ls-primary-text-color);
}

hr {
    margin: 0.8em;
}

.github-alert {
  display: none;
}

.p-2.rounded-md.shadow-xs.bg-base-3.flex.flex-col.sync-content {
    font-size: .5em;
}

.block-properties {
  border-radius: 4px;
}

.shadow-md, #left-sidebar .item.active {
  box-shadow: $arc-card-shadow;
}

@media (min-width: 480px) {
  .cp__sidebar-left-layout.is-open + #main-content-container {
    margin: 0 auto;
  }
}

#app-single-container {
  display: none;
}

body.is-pdf-active #app-container {
  padding-left: $arc-card-gap;
  #app-single-container {
    display: block;
    order: -1;
  }
}

.theme-inner {
  background-color: var(--ls-secondary-background-color);
}

/* ----------------------- LEFT SIDEBAR ----------------------- */
#left-sidebar {
  @include parent(column);
  display: none;
  position: inherit;

  .left-sidebar-inner {
    @include fill;
    @include parent(column, $gap: $arc-sidebar-gap);
    @include fix-child-shadows;
    background-color: transparent;

    & > .flex {
      @include fill;
      @include parent(column, $gap: 2 * $arc-sidebar-gap);
      @include fix-child-shadows;

      nav.flex { //sidebar items
        @include fill($fixed-width: var(--ls-left-sidebar-width), $fixed-height: 100%); //not sure why fill-available doesn't work here
        @include parent(column-reverse, $gap: $arc-sidebar-gap);
        justify-content: space-between;

        .nav-header {
          @include parent(column, $gap: $arc-sidebar-gap);
        }

        .ui__dropdown-trigger {
          @include parent(column-reverse);

          .graphs {
            width: 100%;
          
            #repo-switch {
              display: flex;
              align-items: center;
              width: 100%;
              justify-content: space-between;
            }
          }

          .dropdown-wrapper {
            margin-top: 0px;
            min-width: 100%;
            margin-bottom: 3rem;
          }
        }
      }

      .nav-contents-container {
        @include fill($fixed-height: fit-content);
        @include parent($direction: column);
        padding: 0;
        display: none;

        .favorites {
          display: var(--display-favorite-pages);
        }
        
        .recent {
          display: var(--display-recent-pages);
        }

        .header {
          @include fill($fixed-height: fit-content);
          @include parent;
          padding: 12px;

          .fade-link > .flex {
            color: var(--arc-content-secondary);

            .ui__icon {
              display: none;
            }
            span.flex-1 {
              margin: 0;
              font-size: inherit;
              font-weight: inherit;
              text-transform: lowercase;
              &::first-letter {
                text-transform: capitalize;
              }
            }
          }
        }

        .favorite-item > .flex, .recent-item > .flex {
          @extend .item;
        }
      }

      .create {
        @include fill($fixed-height: fit-content);
        @include parent;
        position: relative;
        order: -1;
        
        .new-page-link {
          @include fill;
          // background-color: inherit;
          background-color: var(--arc-background-overlay);
          box-shadow: none;
          //@extend .item; //needed to get hover to work

          & > .ls-icon-circle-plus {
            &::before {
              font-size: 18px;
              content: '\eb1c';
              font-family: tabler-icons;
              -webkit-font-smoothing: antialiased;
            }
            & > svg {
              display: none;
            }
          }

          & > span.flex-1 {
            display: none;
          }

          &::after {
            content: 'Search';
          }

        }
      }

      .item {
        padding: 12px;
        color: var(--ls-secondary-text-color);
        font-weight: 400;
        border-radius: $arc-card-corner-radius;
        gap: 12px;
    
        &:hover {
          background-color: rgba(0, 0, 0, 0.05);
          opacity: 1;
        }
    
        &.active {
          background-color: var(--ls-primary-background-color);
          color: var(--ls-primary-text-color);
          font-weight: 600;
          transition: background-color 0ms;
        }

        .ui__icon {
          margin: 0;
        }
      }
    }
  }

  .shade-mask {
    display: none;
  }

  &.is-open {
    @include devices(mobile) {
      width: calc(var(--ls-left-sidebar-width) + $arc-card-gap);
    }
    display: flex;
  }
}

.ls-left-sidebar-open { 
  @include devices(mobile) {
    --ls-left-sidebar-width: 100%;
    #app-container #left-container #main-container #main-content-container {
        display: none;
    }

    #left-sidebar .left-sidebar-inner .flex {
      width: -webkit-fill-available;
      max-width: -webkit-fill-available;
    }
  }
}

body:not(.is-pdf-active) .ls-left-sidebar-open #search-button {
  display: none;
}

/* ----------------------- RIGHT SIDEBAR ----------------------- */
#right-sidebar {
  @include fill;
  @include parent(column);
  background-color: transparent;
  display: none;
  
  #right-sidebar-container {
    @include fill;
    @include parent(column);

    .cp__right-sidebar-scrollable {
      @include parent(column, $gap: $arc-card-gap);
      @include fix-child-shadows;
      overflow-y: scroll;

      .cp__right-sidebar-topbar {
        @include fill($fixed-height: fit-content);
        @include parent;
        background-color: transparent;
        position: relative;
      }

      .sidebar-item-list {
        @include parent(column, $gap: $arc-card-gap);
        height: max-content;
        overflow: visible; //allows for entire column to scroll

        .sidebar-item {
          background-color: var(--ls-primary-background-color);
          border-radius: $arc-card-corner-radius;
        }
      }
    }
  }

  &.open {
    display: flex;
  }

  .resizer {
    &:focus, &:hover {
      //background-color: var(--arc-background-overlay);
      background-color: transparent;
    }
    width: $arc-card-gap;
    left: -$arc-card-gap;
  }
}

/* ----------------------- PAGES ----------------------- */
.page {
  max-width: $arc-content-max-width;
}



/* ----------------------- JOURNAL ----------------------- */
#journals {
  .journal-item {
    @include parent(column);
    align-items: center;
    margin: 0px;
    --journal-focused: 0;

    .journal.page {
        @include fill($fixed-height: fit-content);
        max-width: $arc-content-max-width;
        
        & > .flex { //title and items
          @include parent(column, $gap: 16px);
          
          .journal-title { 
            &::before {
              content: '';
              display: block;
              height: 4px;
              width: 32px;
              border-radius: 2px;
              background-color: var(--ls-active-primary-color);
              opacity: calc((var(--journal-focused) * 0.75) + 0.25);
            }
          }
        }
    }

    &:focus-within {
      --journal-focused: 1;
    }
  }
  & > div > .w-full {
    max-width: 85ch;
    margin: auto;
    padding: 48px;
  }
}


#main-content-container .page {
  @include parent(column, $arc-content-padding-desktop);
  @include devices(mobile) { padding: $arc-content-padding-mobile; }

  .title {
    margin-bottom: 0px;
  }
}


/* ----------------------- SEARCH ----------------------- */
.ui__modal-panel {
  background-color: var(--arc-background-glass);
  border: solid 1px var(--arc-content-divider);
  border-radius: $arc-card-corner-radius;
  backdrop-filter: blur(10px);

  .panel-content {
    padding: 0px;
    max-width: 720px;

    .cp__palette-main {
      margin: 0px;
      
      .ls-search {
        padding: 0;

        .input-wrap {
          border-bottom: solid 1px var(--ls-border-color);
          height: fit-content;
  
          input {
            color: var(--arc-content-primary);
            &::placeholder {
              color: var(--arc-content-tertiary);
            }
          }
        }

        .search-results-wrap {
          .recent-search {
            padding: 4px;
  
            #ui__ac-inner > div:nth-child(6)::before { // container for first recent page after recent searches
              content: "Recents";
              padding: 12px;
              display: block;
              color: var(--arc-content-secondary);
            }
            & > .wrap { // recent search: header
              padding: 12px;
  
              &::before {
                content: "Searches";
                font-size: $arc-body-font-size;
              }
  
              & > div:first-child {
                display: none;
              }
            }
          }
  
          #ui__ac-inner {
            display: flex;
            flex-direction: column;
            padding: 4px;
            
            .menu-link {
              background-color: transparent;
              padding: 12px;
              border-radius: 8px !important;
  
              &:hover {
                color: var(--arc-content-primary);
              }
  
              .search-item-text {
                font-size: $arc-body-font-size;
                font-weight: normal;  
  
                p, span {
                  margin: 0;
                }
              }
  
              .search-item-icon {
                @include parent($top: 4px);
                background-color: var(--arc-background-overlay);
                width: 24px;
                height: 24px;
                color: var(--arc-content-secondary);
                border-radius: 4px;
                transform: scale(1);
                border: none;
                align-items: center;
                justify-content: start;
                color: transparent;
                &::before {
                  font-size: 16px;
                  font-family: tabler-icons;
                  font-style: normal;
                  font-weight: 400;
                  -webkit-font-smoothing: antialiased;
                  color: var(--arc-content-secondary);
                }
              }
  
              .search-item-layout {
                align-items: center;
                gap: 16px;
                padding: 0;
                margin: 0;
              }
      
              & > span > div.search-item { // recent search result
                @extend .search-item-layout;
                @extend .search-item-text;
  
                & > svg { // search icon
                  @extend .search-item-icon;
                  color: var(--arc-content-secondary);
                }
              } 
  
              & > span > div.items-baseline { // recent page result
                @extend .search-item-layout;
                @extend .search-item-text;
              }
  
              .search-result {
                @extend .search-item-layout;
                @extend .search-item-text;
  
                .type-icon {
                  margin: 0;
                  color: var(--arc-content-secondary);
                  border-color: transparent;
                   &::before {
                    background-color: var(--arc-background-overlay);
                   }
                }
  
                .mb-1 {
                  @extend .search-item-text;
                  .breadcrumb {
                    a {
                      color: var(--arc-content-secondary);
                      &:last-of-type {
                        color: var(--arc-content-primary);
                      }
                    }
    
                    & > span.mx-2 {
                      opacity: 1;
                      color: transparent;
                      display: inline-block;
                      width: 16px;
                      margin: 0 8px;
    
                      &::before {
                        font-size: 16px;
                        font-family: tabler-icons;
                        font-style: normal;
                        font-weight: 400;
                        -webkit-font-smoothing: antialiased;
                        color: var(--arc-content-secondary);
                        content: '\ea61';
                      }
                    }
                  }
                }
                .font-medium {
                  font-size: $arc-body-font-size;
                  font-weight: normal;
                  color: var(--arc-content-secondary);
                }
              }
      
              &:hover {
                background-color: var(--ls-menu-hover-color);
              }
  
              &.chosen {
                background-color: var(--arc-background-overlay);
                color: var(--arc-content-primary);
              }
            }
          }
  
          .search-more {
            padding: 12px;
            border-radius: 8px;
            margin: 4px;
          }
        }
      }
    }
  }
}

/* ----------------------- TABLES ----------------------- */
thead th span {
  color: var(--ls-tertiary-text-color);
}

th {
  border-bottom: 1px solid var(--ls-border-color);
  padding: 6px 12px;
  font-size: var(--ls-page-text-size);
}

td {
  padding: 8px 12px;
}

.table-auto {
    border-radius: 16px;
    border-collapse: collapse;
    overflow: hidden;
    margin: 0px;
}

table, tr, td, th {
    border: 1px solid var(--ls-border-color);
}

.custom-query .overflow-x-auto {
    overflow-x: auto;
    margin: 1em 0;
    border-radius: 16px;
    border: 1px solid var(--arc-content-divider);
}

.custom-query > .flex > .initial > div > .flex {
    margin-top: -1.5rem;
    justify-content: flex-end;
}

.custom-query-title {
    justify-content: flex-start;
}


/* ----------------------- POPUP ----------------------- */
.tippy-tooltip {
  background-color: transparent;
}

.tippy-tooltip > .tippy-tooltip-content {
  border: 1px solid var(--ls-border-color);
  background-color: var(--ls-primary-background-color);
  border: none;
  border-radius: 12px;
  box-shadow: $arc-card-shadow;
}

.tippy-tooltip > .arrow-regular {
  display: none;
}

.tippy-wrapper {
  background: transparent;
  border-radius: 12px;
}

.panel-content > div {
  margin: 0;
}

.cp__settings-main > header {
  padding: 16px;
}

/* ----------------------- SETTINGS ----------------------- */
.cp__settings-inner > aside > ul {
  padding: 8px;
}

/* ----------------------- PDF ----------------------- */
#pdf-layout-container {
  &[data-theme=light] { background-color: transparent; }
  &[data-theme=warm] { background-color: transparent; }
  &[data-theme=dark] { background-color: transparent; }
  overflow: visible;
  height: calc(100% - $arc-action-bar-height - $arc-card-gap);
  position: relative;

  .extensions__pdf-loader {
    background-color: transparent;

    .extensions__pdf-viewer-cnt {
      display: flex;
      flex-direction: column-reverse;

      .extensions__pdf-toolbar {
        position: relative;
        width: 100%;
        right: initial;
        padding: 0px;
        height: fit-content;

        & > .inner {

          & > .buttons {
            background-color: transparent;
            width: 100%;

            .button {
              transition: $arc-transition-time;
              opacity: 1;
              margin: 0px;
              height: 2rem;
              width: 2rem;
              display: flex;
              align-items: center;
              justify-content: center;

              &:hover {
                background-color: var(--ls-tertiary-background-color);
              }
            }

            & [title="Outline"] {
              order: -4;
            }

            & .pager {
              order: -3;
              
              .nu {
                opacity: 1;
                gap: 4px;
                input {
                  border-radius: 4px;
                  background-color: var(--ls-tertiary-background-color);
                  color: var(--ls-primary-text-color);
                }
                small {
                  font-size: 100%;
                  color: var(--ls-tertiary-text-color);
                }
              }

              & > .ct {
                display: var(--display-pdf-arrows);
              }
            }

            & [title="Document info"] {
              order: -2;
            }

            & [title="More settings"] {
              order: -1;
              margin-right: auto;
            }

            & > .button:last-child {  //Close button
              font-size: 0;
              &::after {
                font-size: 18px;
                content: '\eb55';
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: tabler-icons;
                speak: none;
                font-style: normal;
                font-weight: 400;
                font-variant: normal;
                text-transform: none;
                line-height: 1;
                -webkit-font-smoothing: antialiased;
              }
            }
          }
        }
      }

      .extensions__pdf-viewer {
        // position: relative;
        top: $arc-action-bar-height + $arc-card-gap; //TODO: make equal to header height
        background-color: var(--ls-primary-background-color);
        box-shadow: $arc-card-shadow;
        border-radius: $arc-card-corner-radius;

        .page {
          max-width: inherit; //undoes the max-width for real .page
        }
      }
    }
  }
}

.block-content[data-type=annotation] .prefix-link {
  // padding: 4px;
  // background: var(--ls-tertiary-background-color);
  // color: var(--ls-secondary-text-color);
  // border-radius: 4px;
  // line-height: 1;
  // margin-right: 4px;
  // text-transform: lowercase;

  background: var(--arc-background-overlay);
  border-radius: 8px;
  padding-left: 4px;
  padding-right: 4px;
  margin-right: 4px;
  color: var(--arc-content-secondary);

  &::before {
    opacity: .5;
    font-size: smaller;
  }

  label.blank {
      display: none;
  }
}

/* ----------------------- BLOCKS ----------------------- */
.editor-inner .uniline-block:is(.h1,.h2), .ls-block :is(h1,h2) {
  border-bottom: none;
}

.form-checkbox {
  border: solid 2px var(--ls-page-checkbox-border-color);
  border-radius: 2px;
  &:checked {
    background-color: var(--ls-page-checkbox-checked-color);
  }
  &:focus {
    border-color: var(--ls-page-checkbox-border-colorc);
  }
}

h1 a.tag, .tag {
  font-size: inherit;
}

h1.title {
  font-family: var(--ls-font-family);
  font-weight: 600;
}

.marker-switch.TODO {
  display: var(--display-todo-status);
}

.admonition-item {
  border: solid transparent 0px;
  background: 
    linear-gradient(var(--ls-page-blockquote-border-color), var(--ls-page-blockquote-border-color)) left/ 4px no-repeat, 
    var(--arc-background-overlay);
  border-radius: 8px;
  display: flex;
  gap: 12px;
  padding: 8px 12px 8px 16px;

  &::before {
    font-size: 18px;
    font-family: tabler-icons;
    -webkit-font-smoothing: antialiased;
    color: var(--arc-content-secondary);
    line-height: 24px
  }
}

blockquote {
  @extend .admonition-item;

  &::before {
    content: '\ee09';
    //content: '\efbe';
  }
}

.cp__fenced-code-block { 
  .CodeMirror {
    border-radius: 8px;
  }
  .extensions__code-lang {
    background: var(--arc-background-overlay);
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
  }
}

.admonitionblock {
  @extend .admonition-item;
  margin: 0;

  .admonition-icon {
    display: none;
  }

  .text-lg {
    margin: 0px;
    font-size: inherit;
    line-height: inherit;
  }

  &.note::before {
    content: '\eac5';
  }

  &.tip::before {
    content: '\ea51';
  }

  &.important::before {
    content: '\ea05';
  }

  &.caution::before {
    content: '\ec2c';
  }

  &.pinned::before {
    content: '\ec9c';
  }

  &.warning::before {
    content: '\ea06';
  }
}

.ls-block.selected {
  border-radius: 8px;
}

/* ----------------------- POPUP MENU ----------------------- */
.dropdown-wrapper {
  --dropdown-border-radius: 12px;
  border-radius: var(--dropdown-border-radius);

  .menu-links-wrapper {
    padding: 4px;
    border-radius: var(--dropdown-border-radius);

    .menu-link {
      padding: 10px 12px;
      border-radius: calc(var(--dropdown-border-radius) - 4px);

      & > .flex-1 > .items-center {
        gap: 8px;
        
        span.ui__icon {
          opacity: .5;
        }
        .title-wrap {
          margin: 0 !important;
        }
      }
    }
  }
}


/* ----------------------- MISC ----------------------- */

.sidebar-item > .flex {
  gap: 1em;
}

.button:hover {
  background-color: var(--ls-tertiary-background-color);
}

/* hide scrollbars */
::-webkit-scrollbar-thumb {
  border-radius: 20px;
  border: 16px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar {
  display: none;
}

.button, html[data-theme=light] a.button, .cp__header a, .cp__header button, .cp__right-sidebar-topbar button {
  opacity: 1;
  color: var(--arc-content-secondary);
}

a {
  color: inherit;
}

a.is-pdf, a.external-link {
  color: var(--ls-link-text-color);
}

.cp__sidebar-help-btn {
  display: var(--display-help-button);
}

.graph {
  height: 100% !important;
}